body{
    overflow-x: hidden;
    background-color: black;
}
.aboutMe p{
    color: white;
    margin-top: -50vh;
    font-size: 3vh;
    margin-left: 10vh;
   
}
.aboutMe a{
    color: rgb(223, 90, 112);
    text-decoration: none;
}
.aboutMe img{
    margin-left: 50vh; 
    height: 95vh;
    width:90vh;
}
button{
    padding: 2vh;
    margin-left: 15vh;
    background-color: rgb(223, 90, 112);
    margin-top: 2vh;
}
.about {
    color:white;
    margin-top: -30vh;
    margin-left:145vh;
    text-align: justify;
    font-size: 3vh;
}
.about a{
    color: rgb(223, 90, 112);
}
